# os:
#   - linux
#
# branches:
#   only:
#   - master
#
# notifications:
#   email: false
#
# before_install: ./howi-bot --as-howi-bot travis-ci before_install
#
# install: ./howi-bot --as-howi-bot travis-ci install
#
# before_script: ./howi-bot --as-howi-bot travis-ci before_script
#
# script: ./howi-bot --as-howi-bot travis-ci before_script
#
# after_success: ./howi-bot --as-howi-bot travis-ci after_success
#
# after_failure: ./howi-bot --as-howi-bot travis-ci after_failure
#
# before_deploy: ./howi-bot --as-howi-bot travis-ci before_deploy
#
# deploy:
#   provider: script
#   script: ./howi-bot --as-howi-bot travis-ci deploy
#   on:
#     tags: true
#     branch: master
#
# after_deploy: ./howi-bot --as-howi-bot travis-ci after_deploy
#
# after_script: ./howi-bot --as-howi-bot travis-ci after_script
sudo: false

dist: trusty

addons:
  apt:
    packages:
      - python-pygments

notifications:
  email: false

cache:
  directories:
    - $HOME/build-cache
  timeout: 180
  yarn: true

################################################################################
# Templates
tmpl-test-deployment: &tmpl-test-deployment
  stage: test okramlabs.github.io deployment
  language: go
  go: 1.9
  script: 'curl https://okramlabs.github.io'

before_install: skip
install: skip
before_script: skip
script: skip
after_success: skip
after_failure: skip
after_script: skip

stages:
  # test source
  - name: test src
    if: type IN (push, pull_request)
  # generate assets and additional content
  - name: generate assets and additional content
    if: (type = push) AND (branch = master)
  # build theme
  - name: build theme
    if: (type = push) AND (branch = master)
  # build site
  - name: build site
    if: (type = push) AND (branch = master)
  # deploy okramlabs.github.io
  - name: deploy okramlabs.github.io
    if: (type = push) AND (branch = master)
  # test okramlabs.github.io deployment
  - name: test okramlabs.github.io deployment
    if: (type = push) AND (branch = master)
  # create new release
  - name: create new release
    if: (type = push) AND (tag IS present) AND (tag =~ ^v1) AND (repo = okramlabs/okramlabs.github.src)

jobs:
  include:
    - stage: test src
      # test theme source
      env: TASK=test-theme
      language: node_js
      node_js: node
      script: echo "running tests" | tee > ~/build-cache/one
      # test site source
    - env: TASK=test-site
      language: go
      go: 1.9
      script: echo "running test site" | tee > ~/build-cache/test-site
      # generaate content and assets
    - stage: generate assets and additional content
      language: go
      go: 1.9
      script: echo "running generate assets" | tee > ~/build-cache/generate-assets
      # build a fresh theme
    - stage: build theme
      language: node_js
      node_js: node
      script: echo "running build theme" | tee > ~/build-cache/build-theme
      # build new site with theme built on previous step
    - stage: build site
      language: go
      go: 1.9
      script: echo "running build site" | tee > ~/build-cache/build-site
      # deploy to deploy okramlabs.github.io master
    - stage: deploy okramlabs.github.io
      language: go
      go: 1.9
      script: echo "deploy okramlabs.github.io script"
      before_deploy: echo "after_deploy okramlabs.github.io"
      deploy:
        skip_cleanup: true
        provider: script
        script: echo "deploy okramlabs.github.io"
        on:
          branch: master
      after_deploy: echo "after_deploy okramlabs.github.io"

    # test this deployment
    - <<: *tmpl-test-deployment
      env: TASK=test-site-1
      script: echo "Testing deployment 1 ..."

    - <<: *tmpl-test-deployment
      script: echo "Testing deployment 2 ..."
      env: TASK=test-site-2

    # if this is a release run additional tasks
    - stage: create new release
      env: TASK=upload-github-release
      language: go
      go: 1.9
      script: echo "create new release ..."
      before_deploy: echo "after_deploy okramlabs.github.io"
      deploy:
        skip_cleanup: true
        provider: script
        script: echo "deploy release to github"
        on:
          tags: true
          all_branches: false
      after_deploy: echo "after_deploy okramlabs.github.io"
